
.mainevent-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    padding-top: 10rem;
}
.eventcard img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
}
.eventcard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: white .1rem solid;
    background-color: rgb(255, 255, 255);
    width: 23rem;
    cursor: pointer;
    position: relative;
}
.eventcard h5{
    font-family: 'Darker Grotesque';
    font-size: 2rem;
}
.eventcard p{
    font-family: 'Darker Grotesque';
    font-size: 1.3rem;
    text-align: center;
}
.eventcard-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 2rem 0;
    min-height: 29rem;
    position: absolute;
    bottom: -29rem;
    background-color: #ffffff;
    width: 100%;
}


.cards-div{
    display: flex;
    justify-content:space-around;
    width: 100%;
    flex-wrap: wrap;
}

.mainevent-div h1{
    font-weight: 10;
    font-size: 10rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: #484848;
}

.eventcard-desc button{
    font-family: 'Darker Grotesque';
    font-weight: 600;
    font-size: 1.5rem;
    background-color: #3a3a3a;
    color: white;
    padding: .2rem 1rem .2rem 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    cursor: pointer;
}
.eventcard-desc a{
    position: absolute;
    bottom: 0;
    width: 100%;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .mainevent-div h1{
        font-size: 4rem;
    }
    .eventcard{
        margin-bottom: 20rem;
    }
    .mainevent-div{
        height: auto;
    }
}