/* General Navbar Styles */
.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    width: 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
}

.navbar-brand {
    font-family: 'autumn', sans-serif;
    font-weight: 900;
    opacity: 1;
    font-size: 1.5rem;
}

.secondary-color {
    color: var(--secondary);
}

.navbar-toggler {
    background-color: var(--primary);
    border: none;
    color: #fff;
    padding: 0.5rem;
    cursor: pointer;
}

.toggler-icon {
    width: 25px;
    height: 3px;
    background-color: #fff;
    display: block;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 1rem;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
    cursor: pointer;
}

.nav-link:hover {
    color: var(--secondary);
}

.active .nav-link {
    color: var(--primary);
    font-weight: bold;
}

.resp-navbtn{
    display: none;
    position: absolute;
    right: 2rem;
}

/* Mobile/Tablet Responsive Styles */
@media (max-width: 768px) {
    .navbar-collapse {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
    }

    .navbar-container {
        flex-direction: column;
        height: 5rem;
        justify-content: flex-start;
        width: 100%;
        
    }

    .navbar-list {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 20rem;
    }

    .navbar-list.active {
        display: flex;
    }

    .resp-navbtn{
        display: block;
    }
    .navbar-list li{
        background-color: rgb(255, 255, 255);
        width: 100%;
    }
    .nav-link{
        width: 100%;
    }
}



.resp-navattri{
    display: flex;
}



.navbar-list a{
    font-family: 'Darker Grotesque';
    font-weight: 800;
    font-size: 1.2rem;
}


.active{
    color: var(--primary);
    color: #E54933;
}






